/*@import url('https://fonts.googleapis.com/css2?family=Aref+Ruqaa:wght@700&family=Open+Sans&display=swap');*/

@import url('https://fonts.googleapis.com/css2?family=Lemon&family=Roboto&display=swap');

*
{
    margin:0rem;
    padding: 0rem;
    box-sizing: border-box;
}
html
{
    font-family: var(--others-font);
   
}

:root
{
    --grey:#424242;
    --green-light:#00bfa5 ;/*#00d2d3*/
    --grey-light:#eceff1;/*#eeeeee*/
    --logo-font:  'Lemon', cursive; /*'Aref Ruqaa', serif;*/
    --others-font: 'Roboto', sans-serif;  /* 'Open Sans', sans-serif;*/
  
}

::selection
{
   
    background: rgb(99, 180, 146);
}

/*------NAVBAR DESIGN------*/
nav
{
    background-color:var(--grey);
    width:100%;
    height:13vh;
 
}


.nav_left 
{ 
    float: left;
    color: white;
    margin-top: 1.5rem;
    margin-left: 3.5rem;
    font-size: 2.2rem;
    font-family: var(--logo-font)
    
}

.nav_right ul
{
    float: right;
    margin-top: 2.3rem;
    margin-right: 6rem;
    word-spacing: 3rem;
   
}
.nav_right ul li
{
    display: inline-block;

}
.nav_right li a
{
    color: white;
    font-size: .9rem;
    font-weight: bold;
    letter-spacing: .1rem;
    text-decoration: none;
   
}

#bt-logo
{
    background-color:var(--green-light) ;
    border-radius: .5rem;
    padding:.6rem 1.5rem;
    
}

/*------HEADER DESIGN------*/
header
{
    width:100%;
    height: 16vh;
    background: white url('Img/bg.jpg');  
    background-size: cover;
    
}

 #title
{
    margin-left: 26rem;    
    padding-top: 1.5rem;
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
    font-weight:lighter;
}

#head_bt1,#head_bt2
{
    text-decoration: none;
    background: var(--green-light);
    color: white;
    border-radius: .5rem;
    padding: .5rem 3rem;
    font-size: 1rem;
    font-weight: bolder;
   
}
#head_bt1
{
    margin-left: 26rem;
}
#head_bt2
{
    margin-left: 2rem;
}


/*------MAIN DESIGN------*/
main
{
   
    background-color:var(--grey-light);
    width:100%;
    height: 52vh;
    
}

main h2
{
    color:#424242;
    font-size: 1.8rem;
    font-weight: lighter;
    padding: .8rem;
    margin-left: 3.5rem;
}



.box
{
   
    width:40%;
    height: 10rem;
    margin-top: 1rem;
    margin-left: 7.5rem;
    display: inline-block;
}

.box1-text,.box2-text,.box3-text,.box4-text
{
   
    margin: -7.5rem 10rem;
}

.box1-text h3,.box2-text h3,.box3-text h3,.box4-text h3
{
    font-size: 1.7rem;
    font-weight:bolder;
    word-spacing: .2rem;
    margin: 0rem 0rem .5rem .5rem;
}

.box1-text p,.box2-text p,.box3-text p,.box4-text p
{
    font-size: 1rem;
    padding: .5rem;
    word-spacing: .3rem;
    
}

.fa 
{

    color: white;
    background-color: var(--grey);
    padding:2.3rem 3rem;
    font-size: 2rem;
    display: inline-block;
}


/*------SECTION DESIGN------*/
section
{
    
    height: 27vh;
    width:100%;
    background-color: var(--green-light);
}
section p
{
    color: white;
    font-size: 1.5rem;
    text-align: center;
    font-weight: lighter;
    word-spacing: .2rem;
    margin: 0rem 25rem;
    padding: 2.4rem;
}


/*------FOOTER DESIGN------*/
footer
{
    width: 100%;
    background-color: var(--grey);
}


/*..About Us Div Design*..*/
.about
{   
    float: left;
    margin-top: 2.5rem;
    width:55%;
    height:27vh;
    
}
.about h3
{
    font-size: 1.5rem;
    padding-top: 1rem ;
    margin-bottom: .3rem;
    margin-left: 3.4rem;
    color: white;
}

.about p
{
    margin: 1rem 0rem 2rem 3.3rem;
    color: white;
    font-size: 1rem;
    word-spacing: .1rem;
    text-align: left;
}

#footer_bt
{
    text-decoration: none;
    background: var(--green-light);
    color: white;
    border-radius: .5rem;
    padding: .5rem 3rem;
    font-size: 1rem;
    margin-left: 3.3rem;
}


/*..Get In Touch Div Design..*/

.get-in-touch
{
    
    float: right;
    width: 45%;
    height: 27vh;
    margin-top: 2rem;
}

.get-in-touch h3
{
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 4.5rem;
    color: white;
}

.get-in-touch p
{
    margin: 0rem  4rem;
    color: white;
    font-size: 1rem;
    word-spacing: .2rem;
    text-align: left;
}


/*..Copy Right Div Design..*/
.copy-right
{
    clear:both;
    height: 7vh;
    background-color: white;
    
}
.copy-right p
{
    color: black;
    text-align: center;
    font-size: 1rem;
    padding-top: 1.2rem;
}
